 @model Vidly.ViewModels.RandomMovieViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customers</h2>

<tr>
    <th>
        Customer Name
    </th>
    <th> Monthly Discount</th>
    
        @foreach (var item in Model.Customers)
        {
            <td>
                @item.Name
            </td>
        }
          
</tr>

