@model Vidly.ViewModels.RandomMovieViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Movie.Name</h2> 

<ul>
    @foreach (var c in Model.Customers)
    {
        <li>@c.Name</li>
    }

</ul>